@using BurgerManiaApp.Core.Constants
@using BurgerManiaApp.Infractructure.Data.Entities.Account
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Profile</a>
            <div class="dropdown-menu" style="">
                <a class="nav-link text-dark active"asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">MyProfile</a>
                <a class="nav-link text-dark active" asp-area="" asp-controller="Order" asp-action="All">Orders</a>
                @if (User.IsInRole(RoleConstants.Administrator))
                {
                    <a class="nav-link text-dark active" asp-area="Admin" asp-controller="User" asp-action="All" class="btn btn-danger">User Management</a>                  
                }
            </div>
        </li>
        <li class="nav-item">
            <a class="" asp-area="" asp-controller="Cart" asp-action="Index"><img class="cartImgSize" src="/images/shopping-cart.png"></a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="User" asp-action="Logout" asp-route-id="@UserManager.GetUserId(User)">
                <button type="submit" class="nav-link btn btn-link ">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="User" asp-action="Register">Register</a>
        </li>
    }
</ul>
