@model UsersViewModel

@{
    ViewBag.Title = "All Users";
}

<div class="container">
    <main role="main" class="pb-3">
        <h3>Users</h3>
        <hr />
        @if (Model.Users.Count > 0)
        {
            @foreach (var item in Model.Users)
            {
                <partial name="_UserPartial" model="@item" />
            }
        }
        else
        {
            <p>There are no users in the profil yet!</p>
        }
        <hr />
    </main>
</div>